<div class="w3-container w3-main">

<div class="w3-container w3-margin w3-border w3-padding w3-header">


    <h1>Links rápidos</h1>
    <div class="w3-ul">
    <li><a href="http://localhost:3000/customers" style="width:250px" class="w3-button w3-amber">Listar Clientes</a></li>
    </div>
    

</div>
</div>